* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


#wrapper-header {
    width: auto;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5285b3;
    box-shadow: 0 0.7rem 1rem rgba(0,0,0,0.09), inset 0 -1px 0 rgba(0, 0, 0, 0.15)
}

#main-header {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

#main-cv {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

#buttons a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

#buttons img {
    width: 20px;
    
}

#wrapper {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
}

#main {
    display: flex;
    width: auto;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    height: 100%;
}

#bio {
    margin-top: 50px;
    margin-bottom: 50px;
}

#bio h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bio p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#projects {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

#unordered {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;

}

.title {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lang {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#lang img {
    width: 20px;
}

#item-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 350px;
    height: 190px;
    
    border: 0.1rem solid black;
    border-radius: 7px;
    padding: 15px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    box-shadow: 0 0.7rem 2.2rem rgba(0,0,0,0.09), inset 0 -1px 0 rgba(0, 0, 0, 0.15)

}

#item-1 a{
    width: fit-content;
    
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

    transition: 0.2s;

}

#item-1 a:hover{
    background-color: #3d5b7c;
    color: white;

}

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 50px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 150px;
    
}

#img-footer {
    width: 30px;
}

#inner-div-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    gap: 10px;
}

#inner {
    width: 200px;
}

#text {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    
}

@media only screen and (max-width: 400px) {
    #main-header {
        flex-direction: column;
    }
}